
.footer {
  height: $header-height;
  background: $darker-grey;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $header-color;
  padding: 5px 10px;
  box-sizing: border-box;
  z-index: 10000; /* FIXME */
  border: solid 1px black;
  clear: both;
  font-family: 'munro_narrowregular', $header-font;

  p {
    margin: 0;
    font-size: 1em;
    line-height: 32px;
    display: inline-block;
    font-family: 'munroregular', $header-font;
    color: $mid-warm-grey;
  }

  ul.buttons {
    float: right;
    padding: 0;
    margin: 0;
    line-height: 32px;
    list-style-type: none;
    font-size: 1.5em;

    li {
      display: inline-block;
      margin: 0;
      font-family: $header-font;
      box-sizing: border-box;
      cursor: pointer;

      &:hover {
        color: $light-purple;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  .footer-button {
    min-width: 30px;
    text-align: center;

    i {
      vertical-align: middle;
    }

    .clicked i {
      -webkit-animation: spin 0.5s 1;
      color: $light-blue;
    }
  }

  $tooltip-color: $light-blue;
  $tooltip-bg: $header-color;

  [data-tooltip=true] {
    text-decoration: underline;
  }
  [data-tooltip=true]:hover {
    position: relative;
    cursor: pointer;
  }

  /* The tooltip bubble */
    [data-tooltip=true]:before {
    font-family: 'munroregular', monospace;
    font-size: 15px;
    content: attr(title);
    position: absolute;
    top: -3em;
    left: -1em;
    visibility: hidden;
    display: block;
    padding: 0 10px;
    border-radius: 2px;
    color: $tooltip-color;
    color: #fff;
    min-width: 80px;
    text-align:center;
    background-color: $tooltip-bg;
  }

  /* The tooltip triangle */
  [data-tooltip=true]:hover:after {
    border: 11px solid transparent;
    border-top-color: $tooltip-bg;
    content: '';

    display: block;
    height: 0px;
    width: 0px;
    position: absolute;
    top: -14px;
  }
  [data-tooltip=true]:hover:before {
    visibility: visible;
  }
}
