// Colours
$light-blue:     rgb(200, 241, 248);
$powder-blue:    rgb(164, 200, 229);
// $light-purple:   rgb(134, 124, 205);
$light-purple:   #8B75E2;
$mid-purple:     rgb(114, 76,  177);
$dark-purple:    rgb(104, 43,  131);
$mid-warm-grey:  rgb(58,  49,  76);
$dark-warm-grey: rgb(47,  38,  59);
$mid-cool-grey:  rgb(46,  44,  65);
$dark-cool-grey: rgb(40,  38,  52);
$darker-grey:    #121212;
$dark-grey:      #222;
$mid-grey:       #333;
$light-grey:     #666;
$dusty-dark-purple: #61589E;


$darkest-purple: #1C1A1D;

$background-color: $darkest-purple;



// Heights
$header-height: 40px;

// Fonts
$header-font: 'munro_smallregular', monospace;
$body-font: 'ubuntu_monoregular', 'munroregular', monospace;

$body-color: $light-purple;
$header-color: $dusty-dark-purple;