@import 'variables';


.footer {
  display: none;
}
.login-container {

  .info {
    margin: 2em auto;
    text-align: center;
    color: #724cb1;
  }

  .progress-message {
    margin: 2em auto;
    text-align: center;
    color: #724cb1;
  }

  .error-message {
    margin: 2em auto;
    text-align: center;
    color: red;
  }

  .form-container {
    background-color: $darker-grey;
    width: 350px;
    margin: 40px auto 20px auto;
    padding: 25px;
    border-radius: 2px;

    h2, h3 {
      font-family: 'munroregular', monospace;
      border-bottom: none;
      text-transform: uppercase;
    }

    h3 {
      color: $mid-purple;
      font-size: 1.5em;
    }

    h2 {
      color: $light-blue;
      font-size: 3.5em;
      margin-bottom: 20px;
      font-family: 'munroregular', monospace;
    }

    form {

      ::-webkit-input-placeholder {
        color: $mid-warm-grey;
      }

      :-moz-placeholder { /* Firefox 18- */
        color: $mid-warm-grey;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
        color: $mid-warm-grey;
      }

      :-ms-input-placeholder {
        color: $mid-warm-grey;
      }

      input {
        display: block;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        font-size: 1.1em;
        box-sizing: border-box;
        font-family: 'munro_smallregular', monospace;

        &:last-child {
          margin-bottom: 0;
        }
      }

      input[type="text"], input[type="password"] {
        background-color: #222;
        border: solid 1px $dusty-dark-purple;
        color: $light-purple;

        &:focus {
          color: $powder-blue;
          border: solid 1px $light-blue;
          outline: none;
          // outline: $light-purple auto 5px;
        }
      }

      input[type="submit"] {
      }
    }
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
  max-width: 900px;
  margin: 4em auto;
  font-family: Raleway, Arial, sans-serif;
  padding: 1em 2em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #eee;
    margin: 2em 0;
    padding: 0;
}

h1, h2 {
  margin-bottom: 1em;
  border-bottom: 2px solid #eee;
  line-height: 1.5;
}

h1 > small{
  color: #666;
}

h1 > small > a,
p > a{
  color: #3CB371;
  text-decoration: none;
}
h1 > small > a:hover,
p > a:hover{
  text-decoration: underline;
}

/* Buttons styles */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"].btn,
button.btn {
  cursor: pointer;
}

a.btn,.btn {
  margin-right: 1em; /* remove this while use*/
  margin-bottom: 1em; /* remove this while use*/
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}
/* Radius */
.btn-radius {
  border-radius: 3px;
}
/* Sizes */
.btn-small {
  font-size: 0.8125em;
  padding: 0.4125em 1.25em;
}
.btn-medium {
  font-size: 0.9375em;
  padding: 0.5375em 1.375em;
}
.btn-large {
  font-size: 1.0625em;
  padding: 0.5625em 1.5em;
}

/* Colors */
.btn-green {
  color: #3CB371;
  border-color: #3CB371;
}
.btn-green:hover {
  background: #3CB371;
  color: #fff;
  border-color: #3CB371;
}

.btn-blue {
  color: #4682B4;
  border-color: #4682B4;
}
.btn-blue:hover {
  background: #4682B4;
  color: #fff;
  border-color: #4682B4;
}

.btn-orange {
  color: #FF8C00;
  border-color: #FF8C00;
}
.btn-orange:hover {
  background: #FF8C00;
  color: #fff;
  border-color: #FF8C00;
}

.btn-red {
  color: #B22222;
  border-color: #B22222;
}
.btn-red:hover {
  background: #B22222;
  color: #fff;
  border-color: #B22222;
}

.btn-gray {
  color: #808080;
  border-color: #808080;
}
.btn-gray:hover {
  background: #808080;
  color: #fff;
  border-color: #808080;
}

.btn-purple {
  color: #fff;
  background: $dusty-dark-purple;
  border-color: $dusty-dark-purple;

  &:active { //FIXME
    background: $light-blue;
    border-color: $light-blue;
  }

  &:hover {
    background: $light-purple;
    border-color: $light-purple;
  }

  &:focus {
    background: $light-purple;
    border-color: $light-purple;
  }
}
