@import 'variables';
@import 'forms';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font-family: $body-font;
}

body {
  background-color: $background-color;
  color: $body-color;
}

.hide {
  display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}