@import 'variables';

$footer-height: 50px;
$footer-background: $darker-grey;

$buffer-background: $darker-grey;
$buffer-border: $dusty-dark-purple;

$buffer-z-index: 100;

//The outermost wrapper containing the footer and buffer workspace
.container {
  height: 100%;
  position: relative;
}

.buffer-container {
  height: 100%;
  padding-bottom: $footer-height;
  box-sizing: border-box;
}

.buffer {
  min-height: 100px;
  min-width: 400px;
  width: 50%;
  background-color: $buffer-background;
  border: solid 1px $buffer-border;
  z-index: $buffer-z-index;

  .buffer-header {
    border-bottom: solid 1px $buffer-border;
    padding: 5px;
    cursor: move;
    font-family: $header-font;
  }

  .buffer-body {
    padding: 5px;
  }
}

.buffer.dragging {
  border-color: $light-blue;
  z-index: $buffer-z-index + 1;

  .buffer-header {
    border-color: $light-blue;
    color: $light-blue;
  }
}

// Default positioning, typically overridden when user
// resets their workspace
.editor-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: $footer-height;
  width: 47.5%;
  margin: 20px;
}

.terminal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: $footer-height;
  width: 47.5%;
  margin: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;

  height: $footer-height;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;

  background-color: $footer-background;
  border-top: solid 1px $buffer-border;
}