@import 'variables';




.outer-wrapper {
  position: relative;
  font-family: monospace;
  box-sizing: border-box;
  height: 100%;
}

.outer-wrapper {
  position: relative;
  font-family: monospace;
  box-sizing: border-box;
  height: 100%;
}

.container-wrapper {
  padding-bottom: $header-height;
  height: 100%;
  box-sizing: border-box;
}

.container {
  border-right: solid 1px $mid-warm-grey;
  width: 50%;
  height: 100%;
  background: $dark-grey;
  box-sizing: border-box;
  color: #D4C8E8;
  overflow: hidden;

  $c-header-height: 45px;

  .container-header {
    background-color: $darker-grey;
    height: $c-header-height;
    color: $dusty-dark-purple;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-family: $header-font;
    font-size: 1.6em;

    .header-button {
      display: inline;
      cursor: pointer;
    }

    .header-button i {
      color: #666;
    }

    .header-button i:hover {
      color: $light-purple;
    }

    .clicked i {
      -webkit-animation: spin 0.5s 1;
      color: $light-blue
    }
  }

  .container-body {
    height: 100%;
  }
}

.editor-container {
  float: left;
  position: relative;

  .editor-wrapper {
    height: 100%;
    padding-bottom: 1.2em;
  }
}

.terminal-container {
  float: right;
  color: #D4C8E8;
  overflow: hidden;
}

.output-container {
  overflow-y: scroll;
  height: 100%;
  font-size: 0.9em;
}

#echo-output {
  width: 95%;
  list-style-type: none;
  padding: 5px;
  margin: 0;
}

#echo-output li {
  padding: .2em;
}

#echo-message {
  display: none;
}

.CodeMirror {
  height: 100% !important; /* TODO: set height idiomatically */
}

#send-message {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.5em;
  padding: 10px;
  font-weight: bold;
  z-index: 100000;
}


