{% extends "layout.html" %}
{% block head %}
  {% assets "css_auth" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}

<script data-main="{{url_for('static', filename='js/init.js')}}" src="{{url_for('static', filename='js/require.js')}}"></script>
{% endblock %}

{% block body %}
<div class="login-container">

  {% if newAcct %}
  <div class="info" id="login-info">
    Please log into your newly created account below:
  </div>
  {% endif %}

  <div class="form-container align-center">
    <h3>Welcome to</h3>
    <h2>Nomic</h2>
    <form action="/login" id="login-form">
      <input type="text" id="username" name="username" placeholder="Enter your username"/>
      <input type="password" id="password" name="password" placeholder="Password"/>
      <input type="submit" id="login-btn" value="Login" class="btn btn-purple"/>
    </form>
  </div>

  </div>

  <div class="login-container" id="login-progress-container" style="display:none">
    <div class="form-container align-center" id="login-progress" style="display:none">
      <i class="fa fa-circle-o-notch fa-spin"></i>
      <span class="progress-message" id="login-progress-message">
        <!-- Login progress goes here -->
      </span>
    </div>

    <div class="form-container align-center" id="login-error" style="display:none">
      <span class="error-message" id="login-error-message">
        Test?
      </span>
    </div>
  </div>

</div>


{% endblock %}
