<!doctype html>
<html>
<head>
  <title>Nomic</title>

  {% assets "css_base" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  <link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}" />

  <script>
    // Common require.js config stuff.
    var require = {
      baseUrl: "/static/js/app",
      paths: {
        lib: '../lib'
      }
    };
  </script>
  {% block head %}{% endblock %}
</head>

<body>
  {% block body %}{% endblock %}
</body>

</html>