html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

.cm-s-nomic {
  background-color: #222;
  color: #D4C8E8;
}

.cm-s-nomic .CodeMirror-gutters {
  border-right: none;
}

.cm-s-nomic .CodeMirror-gutter {
  background-color: #222;
  border-right: solid 3px #333;
}

.cm-s-nomic .CodeMirror-cursor {
  border-left: solid 1px rgb(114, 76,  177) !important;
}

.cm-s-nomic span.cm-keyword {
  color: #839496;
  font-weight: bold;
}
.cm-s-nomic span.cm-atom {
  color: #2aa198;
}
.cm-s-nomic span.cm-number {
  color: #93a1a1;
}
.cm-s-nomic span.cm-def {
  color: #268bd2;
}
.cm-s-nomic span.cm-variable {
  color: #cb4b16;
}
.cm-s-nomic span.cm-variable-2 {
  color: #cb4b16;
}
.cm-s-nomic span.cm-variable-3 {
  color: #cb4b16;
}
.cm-s-nomic span.cm-comment {
  color: #586e75;
}
.cm-s-nomic span.cm-property {
  color: #b58900;
}
.cm-s-nomic span.cm-operator {
  color: #839496;
}
.cm-s-nomic span.cm-string {
  color: #6c71c4;
}
.cm-s-nomic span.cm-error {
  font-weight: bold;
  border-bottom: 1px dotted #cb4b16;
}
.cm-s-nomic span.cm-bracket {
  color: #cb4b16;
}
.cm-s-nomic span.cm-tag {
  color: #839496;
}
.cm-s-nomic span.cm-attribute {
  color: #93a1a1;
  font-weight: bold;
}
.cm-s-nomic span.cm-meta {
  color: #268bd2;
}