{% extends "layout.html" %}

{% block head %}

  {% assets "css_devenv" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}

<script data-main="{{url_for('static', filename='js/init.js')}}" src="{{url_for('static', filename='js/require.js')}}"></script>
{% endblock %}


{% block body %}

<div class="container editor-container">
  <div class="container-header">
    Editor
    <div class="clearfix"></div>
  </div>
  <div class="container-body">
    {% include 'mod_devenv/editor_old.html' %}
  </div>
  </div>
<div class="container terminal-container">
  <div class="container-header">
    Terminal
  </div>
  <div class="container-body">
    {% include 'mod_devenv/terminal_old.html' %}
  </div>
</div>

{% endblock %}
