{% extends "layout.html" %}
{% block head %}
  {% assets "css_register" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}

<script data-main="{{url_for('static', filename='js/init.js')}}" src="{{url_for('static', filename='js/require.js')}}"></script>
{% endblock %}

{% block body %}

<div class="register-container">

  <div class="error" id="register-error">
    <!-- An error message goes here -->
  </div>

  <div class="form-container align-center">
    <h3>Welcome to</h3>
    <h2>Nomic</h2>
    <form action="/register" id="register-form">
      <input type="text" id="username" name="username" placeholder="Enter your username"/>
      <input type="password" id="password" name="password" placeholder="Password"/>
      <input type="submit" id="register-btn" value="Register" class="btn btn-purple"/>
    </form>
  </div>
</div>

{% endblock %}
