{% extends "layout.html" %}

{% block head %}
{% assets "css_dev" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
<script data-main="{{url_for('static', filename='js/app/modules/dev/page.js')}}" src="{{url_for('static', filename='js/require.js')}}"></script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="buffer-container">
    {% include "editor.html" %}
    {% include "terminal.html" %}
  </div>

  <div class="footer">{% include "footer.html" %}</div>
</div>

{% endblock %}
